In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("audi.csv")
display(df)

      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0        A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1        A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2        A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3        A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4        A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0
...     ...   ...    ...          ...      ...      ...  ...   ...         ...
10663    A3  2020  16999       Manual     4018   Petrol  145  49.6         1.0
10664    A3  2020  16999       Manual     1978   Petrol  150  49.6         1.0
10665    A3  2020  17199       Manual      609   Petrol  150  49.6         1.0
10666    Q3  2017  19499    Automatic     8646   Petrol  150  47.9         1.4
10667    Q3  2016  15999       Manual    11855   Petrol  150  47.9         1.4

[10668 rows x 9 columns]

In [3]:
print (len(df))

10668

In [4]:
display (df.shape)

(10668, 9)

In [5]:
display (df.dtypes)

model            object
year              int64
price             int64
transmission     object
mileage           int64
fuelType         object
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [6]:
display (df.isna().sum())

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [7]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  object
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  object
 6   tax           10668 non-null  int64
 7   mpg           10668 non-null  float64
 8   engineSize    10668 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 750.2+ KB
None

In [8]:
display (df.describe())

,year,price,mileage,tax,mpg,engineSize
count,10668.000000,10668.000000,10668.000000,10668.000000,10668.000000,10668.000000
mean,2017.100675,22896.685039,24827.244001,126.011436,50.770022,1.930709
std,2.167494,11714.841888,23505.257205,67.170294,12.949782,0.602957
min,1997.000000,1490.000000,1.000000,0.000000,18.900000,0.000000
25%,2016.000000,15130.750000,5968.750000,125.000000,40.900000,1.500000
50%,2017.000000,20200.000000,19000.000000,145.000000,49.600000,2.000000
75%,2019.000000,27990.000000,36464.500000,145.000000,58.900000,2.000000
max,2020.000000,145000.000000,323000.000000,580.000000,188.300000,6.300000

In [9]:
x = df.iloc[:,[0,1,3,4,5,6,7,8]].values
display (x.shape)
display (x)

(10668, 8)

array([[' A1', 2017, 'Manual', ..., 150, 55.4, 1.4],
       [' A6', 2016, 'Automatic', ..., 20, 64.2, 2.0],
       [' A1', 2016, 'Manual', ..., 30, 55.4, 1.4],
       ...,
       [' A3', 2020, 'Manual', ..., 150, 49.6, 1.0],
       [' Q3', 2017, 'Automatic', ..., 150, 47.9, 1.4],
       [' Q3', 2016, 'Manual', ..., 150, 47.9, 1.4]], dtype=object)

In [10]:
y = df.iloc[:,[2]].values
display (y.shape)
display (y)

(10668, 1)

array([[12500],
       [16500],
       [11000],
       ...,
       [17199],
       [19499],
       [15999]], dtype=int64)

In [11]:
display(pd.DataFrame(x).head(5))

     0     1          2      3       4    5     6    7
0   A1  2017     Manual  15735  Petrol  150  55.4  1.4
1   A6  2016  Automatic  36203  Diesel   20  64.2  2.0
2   A1  2016     Manual  29946  Petrol   30  55.4  1.4
3   A4  2017  Automatic  25952  Diesel  145  67.3  2.0
4   A3  2019     Manual   1998  Petrol  145  49.6  1.0

In [12]:
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
x[:,0] = le1.fit_transform(x[:,0])
le2 = LabelEncoder()
x[:,-4] = le2.fit_transform(x[:,-4])
display (x)

array([[0, 2017, 'Manual', ..., 150, 55.4, 1.4],
       [5, 2016, 'Automatic', ..., 20, 64.2, 2.0],
       [0, 2016, 'Manual', ..., 30, 55.4, 1.4],
       ...,
       [2, 2020, 'Manual', ..., 150, 49.6, 1.0],
       [9, 2017, 'Automatic', ..., 150, 47.9, 1.4],
       [9, 2016, 'Manual', ..., 150, 47.9, 1.4]], dtype=object)

In [13]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers = [('encoder',OneHotEncoder(),[2])],remainder='passthrough')
x = ct.fit_transform(x)
display (x.shape)
display (pd.DataFrame(x))

(10668, 10)

         0    1    2  3     4      5  6    7     8    9
0      0.0  1.0  0.0  0  2017  15735  2  150  55.4  1.4
1      1.0  0.0  0.0  5  2016  36203  0   20  64.2  2.0
2      0.0  1.0  0.0  0  2016  29946  2   30  55.4  1.4
3      1.0  0.0  0.0  3  2017  25952  0  145  67.3  2.0
4      0.0  1.0  0.0  2  2019   1998  2  145  49.6  1.0
...    ...  ...  ... ..   ...    ... ..  ...   ...  ...
10663  0.0  1.0  0.0  2  2020   4018  2  145  49.6  1.0
10664  0.0  1.0  0.0  2  2020   1978  2  150  49.6  1.0
10665  0.0  1.0  0.0  2  2020    609  2  150  49.6  1.0
10666  1.0  0.0  0.0  9  2017   8646  2  150  47.9  1.4
10667  0.0  1.0  0.0  9  2016  11855  2  150  47.9  1.4

[10668 rows x 10 columns]

In [14]:
display (pd.DataFrame(x))

         0    1    2  3     4      5  6    7     8    9
0      0.0  1.0  0.0  0  2017  15735  2  150  55.4  1.4
1      1.0  0.0  0.0  5  2016  36203  0   20  64.2  2.0
2      0.0  1.0  0.0  0  2016  29946  2   30  55.4  1.4
3      1.0  0.0  0.0  3  2017  25952  0  145  67.3  2.0
4      0.0  1.0  0.0  2  2019   1998  2  145  49.6  1.0
...    ...  ...  ... ..   ...    ... ..  ...   ...  ...
10663  0.0  1.0  0.0  2  2020   4018  2  145  49.6  1.0
10664  0.0  1.0  0.0  2  2020   1978  2  150  49.6  1.0
10665  0.0  1.0  0.0  2  2020    609  2  150  49.6  1.0
10666  1.0  0.0  0.0  9  2017   8646  2  150  47.9  1.4
10667  0.0  1.0  0.0  9  2016  11855  2  150  47.9  1.4

[10668 rows x 10 columns]

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)
display (pd.DataFrame(x))

,0,1,2,3,4,5,6,7,8,9
0,-0.583268,1.200728,-0.712333,-1.123544,-0.046450,-0.386836,1.050783,0.357147,0.357550,-0.880218
1,1.714479,-0.832828,-0.712333,-0.160831,-0.507834,0.483989,-0.954181,-1.578323,1.037130,0.114925
2,-0.583268,1.200728,-0.712333,-1.123544,-0.507834,0.217781,1.050783,-1.429440,0.357550,-0.880218
3,1.714479,-0.832828,-0.712333,-0.545916,-0.046450,0.047853,-0.954181,0.282706,1.276528,0.114925
4,-0.583268,1.200728,-0.712333,-0.738459,0.876318,-0.971285,1.050783,0.282706,-0.090355,-1.543647
...,...,...,...,...,...,...,...,...,...,...
10663,-0.583268,1.200728,-0.712333,-0.738459,1.337702,-0.885343,1.050783,0.282706,-0.090355,-1.543647
10664,-0.583268,1.200728,-0.712333,-0.738459,1.337702,-0.972136,1.050783,0.357147,-0.090355,-1.543647
10665,-0.583268,1.200728,-0.712333,-0.738459,1.337702,-1.030381,1.050783,0.357147,-0.090355,-1.543647
10666,1.714479,-0.832828,-0.712333,0.609339,-0.046450,-0.688442,1.050783,0.357147,-0.221637,-0.880218
10667,-0.583268,1.200728,-0.712333,0.609339,-0.507834,-0.551913,1.050783,0.357147,-0.221637,-0.880218

In [16]:
from sklearn.model_selection import train_test_split
(x_train,x_test,y_train,y_test) = train_test_split(x,y,test_size=0.2,random_state=0)
print (x.shape, y.shape)
print (x_train.shape, y_train.shape)
print (x_test.shape, y_test.shape)

(10668, 10) (10668, 1)
(8534, 10) (8534, 1)
(2134, 10) (2134, 1)

### Linear Regression

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x)
acc=r2_score(y,y_pred)
acc

0.7907163780917994

### Polynomial Regression

In [18]:
from sklearn.preprocessing import PolynomialFeatures 
poly = PolynomialFeatures(degree = 4) 
x_poly = poly.fit_transform(x)
from sklearn.model_selection import train_test_split
xpoly_train, xpoly_test, ypoly_train, ypoly_test = train_test_split(x_poly, y, test_size=0.3, random_state=0)
PolyReg4 = LinearRegression() 
PolyReg4.fit(xpoly_train, ypoly_train)
ypoly_pred4 = PolyReg4.predict(x_poly)
accuracy4 = r2_score(y,ypoly_pred4)
print (accuracy4)

-3607429056635.771

### Logistic Regression

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import classification_report

lr=LogisticRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x)
acc=accuracy_score(y,y_pred)
print("Accuracy:: ",acc)

Accuracy::  0.0390888638920135

### Decision Tree

In [20]:
from sklearn.tree import DecisionTreeRegressor
dt= DecisionTreeRegressor(min_samples_split=5)
dt.fit(x,y)
y_pred=dt.predict(x)
acc=r2_score(y,y_pred)
acc

0.9925207792256503

In [21]:
pd.DataFrame(y_pred)

                  0
0      12830.000000
1      16934.500000
2      11764.750000
3      17299.666667
4      16666.333333
...             ...
10663  17620.750000
10664  16666.333333
10665  19099.500000
10666  19749.000000
10667  15999.000000

[10668 rows x 1 columns]

In [22]:
data=np.concatenate((y_pred.reshape(len(y_pred),1),y.reshape(len(y),1)),1)
pd.DataFrame(data)

                  0        1
0      12830.000000  12500.0
1      16934.500000  16500.0
2      11764.750000  11000.0
3      17299.666667  16800.0
4      16666.333333  17300.0
...             ...      ...
10663  17620.750000  16999.0
10664  16666.333333  16999.0
10665  19099.500000  17199.0
10666  19749.000000  19499.0
10667  15999.000000  15999.0

[10668 rows x 2 columns]

In [23]:
from sklearn.tree import DecisionTreeRegressor
dt= DecisionTreeRegressor(min_samples_split=8)
dt.fit(x,y)
y_pred=dt.predict(x)
acc=r2_score(y,y_pred)
acc

0.9843722324155303

In [24]:
from sklearn.tree import DecisionTreeRegressor
dt= DecisionTreeRegressor(min_samples_split=3)
dt.fit(x,y)
y_pred=dt.predict(x)
acc=r2_score(y,y_pred)
acc

0.9967224126979892

In [25]:
from sklearn.tree import DecisionTreeRegressor
dt= DecisionTreeRegressor(min_samples_split=1)
dt.fit(x,y)
y_pred=dt.predict(x)
acc=r2_score(y,y_pred)
acc

0.9987853307224878

In [26]:
result = pd.concat([df,pd.DataFrame(y_pred)],axis=1)
display( result)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,0
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,12500.0
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,16500.0
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,11000.0
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,16800.0
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,17300.0
...,...,...,...,...,...,...,...,...,...,...
10663,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0,16999.0
10664,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0,16999.0
10665,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0,17199.0
10666,Q3,2017,19499,Automatic,8646,Petrol,150,47.9,1.4,19499.0
10667,Q3,2016,15999,Manual,11855,Petrol,150,47.9,1.4,15999.0

### With Cross Validation

In [27]:
from sklearn.model_selection import cross_val_score
dt= DecisionTreeRegressor(min_samples_split=1)
dt_accuracies = cross_val_score(dt, x, y, cv=5)
print (pd.DataFrame(dt_accuracies))

          0
0  0.920119
1  0.917244
2  0.927212
3  0.909848
4  0.907183

In [28]:
print ('Mean', dt_accuracies.mean())
print ('STD',dt_accuracies.std())

Mean 0.9163212829297915
STD 0.007201251507859204

In [29]:
from sklearn.model_selection import cross_val_score
dt= DecisionTreeRegressor(min_samples_split=3)
dt_accuracies = cross_val_score(dt, x, y, cv=5)
print (pd.DataFrame(dt_accuracies))
print ('Mean', dt_accuracies.mean())
print ('STD',dt_accuracies.std())

          0
0  0.920602
1  0.921106
2  0.926736
3  0.912262
4  0.910960
Mean 0.9183332196778113
STD 0.005910456483503964

In [30]:
from sklearn.model_selection import cross_val_score
dt= DecisionTreeRegressor(min_samples_split=5)
dt_accuracies = cross_val_score(dt, x, y, cv=5)
print (pd.DataFrame(dt_accuracies))
print ('Mean', dt_accuracies.mean())
print ('STD',dt_accuracies.std())

          0
0  0.928518
1  0.926183
2  0.933037
3  0.924195
4  0.908193
Mean 0.924025125401198
STD 0.008446796649684547

In [31]:
from sklearn.model_selection import cross_val_score
dt= DecisionTreeRegressor(min_samples_split=8)
dt_accuracies = cross_val_score(dt, x, y, cv=5)
print (pd.DataFrame(dt_accuracies))
print ('Mean', dt_accuracies.mean())
print ('STD',dt_accuracies.std())

          0
0  0.930799
1  0.917323
2  0.936011
3  0.924118
4  0.904432
Mean 0.9225366072572921
STD 0.011021018600646061

In [32]:
result = pd.concat([df,pd.DataFrame(y_pred)],axis=1)
display( result)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,0
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,12500.0
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,16500.0
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,11000.0
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,16800.0
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,17300.0
...,...,...,...,...,...,...,...,...,...,...
10663,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0,16999.0
10664,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0,16999.0
10665,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0,17199.0
10666,Q3,2017,19499,Automatic,8646,Petrol,150,47.9,1.4,19499.0
10667,Q3,2016,15999,Manual,11855,Petrol,150,47.9,1.4,15999.0

### Random Forest

In [33]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error

regression = RandomForestRegressor(random_state=0)
regression.fit(x_train,y_train)
y_pred = regression.predict(x)
print  ('R2 Score ', r2_score(y, y_pred))
print  ('Mean Absolute Error', mean_absolute_error(y,y_pred))

R2 Score  0.9854936957854944
Mean Absolute Error 784.8616110361777

### with cross validation

In [36]:
from sklearn.model_selection import cross_val_score
rf= RandomForestRegressor(random_state=0)
rf_accuracies = cross_val_score(rf, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.948955
1  0.958155
2  0.952872
3  0.946164
4  0.933764
Mean 0.9479821044178186
STD 0.008170525473163048

In [38]:
from sklearn.model_selection import cross_val_score
rf= RandomForestRegressor(n_estimators=5)
rf_accuracies = cross_val_score(rf, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.942843
1  0.957959
2  0.946583
3  0.937024
4  0.932211
Mean 0.943324265915279
STD 0.008811575103279318

In [39]:
from sklearn.model_selection import cross_val_score
rf= RandomForestRegressor(n_estimators=10)
rf_accuracies = cross_val_score(rf, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.944668
1  0.954164
2  0.949761
3  0.942329
4  0.919990
Mean 0.9421823884190156
STD 0.011829392479512375

In [43]:
from sklearn.model_selection import cross_val_score
rf= RandomForestRegressor(n_estimators=20)
rf_accuracies = cross_val_score(rf, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.948880
1  0.957411
2  0.949561
3  0.941556
4  0.935859
Mean 0.9466533460803864
STD 0.007370776450466918

In [44]:
from sklearn.model_selection import cross_val_score
rf= RandomForestRegressor(n_estimators=40)
rf_accuracies = cross_val_score(rf, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.948444
1  0.960938
2  0.950791
3  0.944829
4  0.935777
Mean 0.9481558448684411
STD 0.008181789131156194

In [45]:
from sklearn.model_selection import cross_val_score
rf= RandomForestRegressor(n_estimators=60)
rf_accuracies = cross_val_score(rf, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.949664
1  0.959419
2  0.950254
3  0.945543
4  0.939328
Mean 0.9488415960822527
STD 0.006571763225697363

In [46]:
from sklearn.model_selection import cross_val_score
rf= RandomForestRegressor(n_estimators=80)
rf_accuracies = cross_val_score(rf, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.948900
1  0.958844
2  0.950977
3  0.945202
4  0.938082
Mean 0.948400959235127
STD 0.006821366029544514

In [42]:
from sklearn.model_selection import cross_val_score
rf= RandomForestRegressor()
rf_accuracies = cross_val_score(rf, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.949353
1  0.958413
2  0.950761
3  0.946096
4  0.938594
Mean 0.9486434761361447
STD 0.006448368988851856

In [34]:
data=np.concatenate((y_pred.reshape(len(y_pred),1),y.reshape(len(y),1)),1)
pd.DataFrame(data)

              0        1
0      12864.85  12500.0
1      16457.12  16500.0
2      11755.03  11000.0
3      17664.67  16800.0
4      17191.84  17300.0
...         ...      ...
10663  17052.35  16999.0
10664  16985.51  16999.0
10665  17642.77  17199.0
10666  20217.97  19499.0
10667  18360.66  15999.0

[10668 rows x 2 columns]

In [54]:
from sklearn.ensemble import  ExtraTreesRegressor
ET_Model=ExtraTreesRegressor()
ET_Model.fit(x_train,y_train)
y_predict=ET_Model.predict(x_test)
from sklearn.metrics import r2_score,mean_absolute_error
print  ('R2 Score ', r2_score(y_test, y_predict))
print  ('Mean Absolute Error', mean_absolute_error(y_test,y_predict))

R2 Score  0.9570469800914349
Mean Absolute Error 1535.7550409247112

### With Cross Validation

In [47]:
from sklearn.model_selection import cross_val_score
ET_Model=ExtraTreesRegressor(n_estimators = 20)
rf_accuracies = cross_val_score(ET_Model, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.942899
1  0.961520
2  0.949371
3  0.945425
4  0.939957
Mean 0.9478342621576126
STD 0.007508089243021039

In [48]:
from sklearn.model_selection import cross_val_score
ET_Model=ExtraTreesRegressor(n_estimators = 50)
rf_accuracies = cross_val_score(ET_Model, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.944808
1  0.959980
2  0.950397
3  0.944736
4  0.945716
Mean 0.9491273667209337
STD 0.005813243807764313

In [49]:
from sklearn.model_selection import cross_val_score
ET_Model=ExtraTreesRegressor(n_estimators = 80)
rf_accuracies = cross_val_score(ET_Model, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.945175
1  0.961379
2  0.950207
3  0.947586
4  0.945373
Mean 0.9499440674142923
STD 0.006000533259291121

In [50]:
from sklearn.model_selection import cross_val_score
ET_Model=ExtraTreesRegressor(n_estimators = 100)
rf_accuracies = cross_val_score(ET_Model, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.944489
1  0.961052
2  0.950324
3  0.947578
4  0.945085
Mean 0.9497056685404145
STD 0.006036773504769452

In [51]:
from sklearn.model_selection import cross_val_score
ET_Model=ExtraTreesRegressor(n_estimators = 120)
rf_accuracies = cross_val_score(ET_Model, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.944563
1  0.960813
2  0.950571
3  0.948133
4  0.946215
Mean 0.95005909266052
STD 0.00573762415790319

In [52]:
from sklearn.model_selection import cross_val_score
ET_Model=ExtraTreesRegressor(n_estimators = 150)
rf_accuracies = cross_val_score(ET_Model, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.944705
1  0.962427
2  0.950056
3  0.946692
4  0.946675
Mean 0.9501111545917229
STD 0.006393771216485527

In [53]:
from sklearn.model_selection import cross_val_score
ET_Model=ExtraTreesRegressor(n_estimators = 180)
rf_accuracies = cross_val_score(ET_Model, x, y, cv=5)
print (pd.DataFrame(rf_accuracies))
print ('Mean', rf_accuracies.mean())
print ('STD', rf_accuracies.std())

          0
0  0.945447
1  0.961110
2  0.950792
3  0.947289
4  0.944523
Mean 0.9498324687310186
STD 0.006033113704853254